<h1><%= @contact.name %></h1>

<p>Phones:</p>

<ul>
  <% @contact.phones.each do |phone| %>
    <li>
      <%= phone.number %> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>/edit">Edit</a> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>"
         data-confirm="You sure?"
         data-method="delete"
         rel="nofollow">Delete</a>
    </li>
  <% end %>
</ul>
<p>Email: <%= @contact.email %></p>

<a href="/contacts/<%= @contact.id %>/phones/new">Add phone</a>

<p><a href="/contacts/<%= @contact.id %>/edit">Edit</a></p>
<p><a href="/contacts/<%= @contact.id %>"
      data-confirm="Are you sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>


<p><a href="/contacts">Return to contacts</a></p>
